name: Auto Video Generator

on:
  workflow_dispatch:

jobs:
  build-video:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python libraries
        run: |
          pip install moviepy pillow imageio imageio-ffmpeg

      - name: Generate video
        run: |
          python make_video.py

      - name: Upload video
        uses: actions/upload-artifact@v4
        with:
          name: exam-comedy-video
          path: output.mp4
          
